<div class="row">
	<div class="col-sm-6">
		<div class="widget-box transparent">
			<div class="widget-header widget-header-flat">
				<h4 class="widget-title lighter">
					<i class="ace-icon fa fa-star orange"></i>简单统计
				</h4>
				<div class="widget-toolbar">
					<a href="#" data-action="collapse">
						<i class="ace-icon fa fa-chevron-up"></i>
					</a>
				</div>
			</div>

			<div class="widget-body" style="display: block;">
				<div class="widget-main no-padding">
					<table class="table table-bordered table-striped">
						<thead class="thin-border-bottom">
							<tr>
								<th><i class="ace-icon fa fa-caret-right blue"></i>名字
								</th>
								<th><i class="ace-icon fa fa-caret-right blue"></i>值
								</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>总收录</td>
								<td><b class="green">{{.NovelCount}}</b></td>
							</tr>
							<tr>
								<td>总来源</td>
								<td><b class="green">{{.ItemCount}}</b></td>
							</tr>
							<tr>
								<td>今天总收录</td>
								<td><b class="green">{{.NovelTodayCount}}</b></td>
							</tr>
						</tbody>
					</table>
				</div><!-- /.widget-main -->
			</div><!-- /.widget-body -->
		</div><!-- /.widget-box -->
	</div><!-- /.col -->

	<div class="col-sm-6">
		<div class="widget-box transparent">
			<div class="widget-header widget-header-flat">
				<h4 class="widget-title lighter">
					<i class="ace-icon fa fa-star orange"></i>
					每个来源收录
				</h4>
				<div class="widget-toolbar">
					<a href="#" data-action="collapse">
						<i class="ace-icon fa fa-chevron-up"></i>
					</a>
				</div>
			</div>

			<div class="widget-body" style="display: block;">
				<div class="widget-main no-padding">
					<table class="table table-bordered table-striped">
						<thead class="thin-border-bottom">
							<tr>
								<th><i class="ace-icon fa fa-caret-right blue"></i>来源
								</th>
								<th><i class="ace-icon fa fa-caret-right blue"></i>地址
								</th>
								<th><i class="ace-icon fa fa-caret-right blue"></i>收录值
								</th>
							</tr>
						</thead>

						<tbody>
							{{range  $k, $v := .CountList}}
							<tr>
								<td>{{.Name}}</td>
								<td>{{.PageIndex}}</td>
								<td>{{.Count}}</td>
							</tr>
							{{end}}
						</tbody>
					</table>
				</div><!-- /.widget-main -->
			</div><!-- /.widget-body -->
		</div><!-- /.widget-box -->
	</div><!-- /.col -->
</div>