<div class="footer">
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
		    <ul class="nav navbar-nav">
		        <li><a href="/">首页</a></li>
		        <li><a href="/top.html">排行榜</a></li>
		        <li><a href="/baidutop.html">百度榜</a></li>

		    </ul>
		    <ul class="nav navbar-nav navbar-right">
		        <li><a href="/">{{webName}}</a></li>
		        <li><a data-container="body" data-toggle="popover"
                       data-placement="top"
                       data-content="本站是一个开源小说搜索引擎，提供且仅提供第三方搜索引擎提供的小说检索结果。本站只负责展示搜索结果，展示内容与本站无关。">免责声明</a></li>
		    </ul>
		</div>
    </nav>
</div>

<script type="text/javascript">
$(function () {
    $('[data-toggle="popover"]').popover()
});
</script>

</body>
</html>