<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        
        <!-- #section:pages/error -->
        <div class="error-container">
            <div class="well">
                <h1 class="grey lighter smaller">
    				<span class="blue bigger-125"><i class="ace-icon fa fa-sitemap"></i>Sorry</span>
                    您未被授权访问此页面
                </h1>

                <hr>
                <h3 class="lighter smaller">请确认您是否有操作此页面的权限!</h3>

                <div>
                    <div class="space"></div>
                    <h4 class="smaller">您可以做出如下尝试:</h4>
                    <ul class="list-unstyled spaced inline bigger-110 margin-15">
                        <li><i class="ace-icon fa fa-hand-o-right blue"></i>如果您需要访问此页面，联系系统管理员进行授权确认。</li>
                        <li><i class="ace-icon fa fa-hand-o-right blue"></i>访问其他有权限页面。</li>
                        <li><i class="ace-icon fa fa-hand-o-right blue"></i>退出系统。</li>
                    </ul>
                </div>

                <hr>
                <div class="space"></div>

                <div class="center">
                    <a href="javascript:history.back()" class="btn btn-grey"><i class="ace-icon fa fa-arrow-left"></i>返回</a>
                    <a href="/" class="btn btn-primary"><i class="ace-icon fa fa-tachometer"></i>控制台</a>
                </div>
            </div>
        </div>
        <!-- /section:pages/error -->

        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div>