<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <form class="form-horizontal" method="post" role="form">

            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right" for="form-field-1">网站名称: </label>
                <div class="col-sm-4">
                    <input name="vars[web_name]" class="col-xs-12 col-sm-12" type="text" value="{{.web_name}}" required>
                </div>
                <div class="col-sm-3">网站名称(前台显示)</div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right" for="form-field-1">网站关键字: </label>
                <div class="col-sm-4">
                    <textarea class="col-sm-12" rows="2" name="vars[web_keyword]">{{.web_keyword}}</textarea>
                </div>
                <div class="col-sm-3"></div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right" for="form-field-1">网站描述: </label>
                <div class="col-sm-4">
                    <textarea class="col-sm-12" rows="2" name="vars[web_desc]">{{.web_desc}}</textarea>
                </div>
                <div class="col-sm-3"></div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right" for="form-field-1">网站通知: </label>
                <div class="col-sm-4">
                    <textarea class="col-sm-12" rows="2" name="vars[web_notice]">{{.web_notice}}</textarea>
                </div>
                <div class="col-sm-3">空则不通知</div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right" for="form-field-1">网站统计: </label>
                <div class="col-sm-4">
                    <textarea class="col-sm-12" rows="3" name="vars[web_stat]">{{.web_stat}}</textarea>
                </div>
                <div class="col-sm-3"></div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right" for="form-field-1">邮件通知: </label>
                <div class="col-sm-4">
                    <input name="vars[web_notice_mail]" class="col-xs-12 col-sm-12" type="text" value="{{.web_notice_mail}}" required>
                </div>
                <div class="col-sm-3">用于接受网站运行情况</div>
            </div>

            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>提交
                    </button>
                </div>
            </div>

        </form>
    </div><!-- /.col -->
</div>
<script>

jQuery(function($) {
});
</script>