<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <form class="form-horizontal" method="post" role="form">

            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right" for="form-field-1">邮件服务器: </label>
                <div class="col-sm-4">
                    <input name="vars[mail_host]" class="col-xs-12 col-sm-12" type="text" value="{{.mail_host}}" required>
                </div>
                <div class="col-sm-3">邮件服务器(例如:smtp.163.com)</div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right" for="form-field-1">端口: </label>
                <div class="col-sm-4">
                    <input class="col-sm-12" name="vars[mail_port]" type="text" value="{{.mail_port}}">
                </div>
                <div class="col-sm-3">一般情况下为25</div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right" for="form-field-1">用户名: </label>
                <div class="col-sm-4">
                    <input autocomplete="off" class="col-sm-12" name="vars[mail_user]" type="text" value="{{.mail_user}}">
                </div>
                <div class="col-sm-3"></div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right" for="form-field-1">密码: </label>
                <div class="col-sm-4">
                    <input autocomplete="off" class="col-sm-12" type="password" name="vars[mail_pwd]" value="{{.mail_pwd}}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right" for="form-field-1">邮件发送队列大小: </label>
                <div class="col-sm-4">
                    <input class="col-sm-12" name="vars[mail_queue_size]" type="text" value="{{.mail_queue_size}}">
                </div>
                <div class="col-sm-3"></div>
            </div>

            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>提交
                    </button>
                </div>
            </div>

        </form>
    </div><!-- /.col -->
</div>
<script>

jQuery(function($) {
});
</script>