<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <form class="form-horizontal" method="post" role="form">
            <!-- #section:elements.form -->
            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 角色名称: </label>

                <div class="col-sm-10">
                    <input name="vars[name]" class="col-xs-8 col-sm-4" type="text" value="{{.data.Name}}" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right" for="form-input-readonly"> 角色描述: </label>

                <div class="col-sm-10">
                    <textarea class="col-sm-5" name="vars[desc]" required>{{.data.Desc}}</textarea>
                </div>
            </div>
            <!-- /section:elements.form -->
            <div class="space-4"></div>
       
            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right" for="form-field-2">权限设置</label>
                <div class="col-sm-10">
                    <div class="col-xs-12 col-sm-8">
                        {{range $k, $v := .funcList}}
                        <div class="widget-box">
                            <div class="widget-header">
                                <h4 class="widget-title">
                                    <span class="lbl">{{$v.Info.Name}}</span>
                                </h4>

                                <a><input type="checkbox" onclick="select_click(this);"></a>
                                <div class="widget-toolbar">
                                    <a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a>
                                </div>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main">
                                    {{range $k1, $v1 := $v.List}}
                                    <label class="inline" style="width:160px;">
                                        <input class="ace" type="checkbox" name="box[]" value="{{$v1.Id}}"
                                         {{if isIntInList $v1.Id $.data.List}}checked="checked"{{end}}
                                        >
                                        <span class="lbl" role="checkbox" title="{{$v1.Desc}}">{{$v1.Name}}</span>
                                    </label>
                                    {{end}}
                                     
                                </div>
                            </div>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>

            <div class="space-4"></div>

            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>提交
                    </button>

                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>重置
                    </button>
                </div>
            </div>

        </form>
    </div><!-- /.col -->
</div>
<script>

function select_click(obj){
    var _this = obj;
    
    var checkList = $(_this).parent().parent().parent().find('.widget-main input');

    $(checkList).each(function(index, el){
        var c = $(this).prop('checked');
        $(this).prop('checked', !c);
    });
}

jQuery(function($) {
});
</script>