<ul class="nav ace-nav">

    <li class="grey">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <i class="ace-icon fa fa-tasks"></i>
            <span class="badge badge-grey">0</span>
        </a>

        <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">

            <li class="dropdown-header">
                <i class="ace-icon fa fa-check"></i> 0 待处理
            </li>
        </ul>

    </li>
    <li class="purple">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <i class="ace-icon fa fa-bell"></i>
            <span class="badge badge-important">0</span>
        </a>
        <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
            <li class="dropdown-header">
                <i class="ace-icon fa fa-exclamation-triangle"></i> 0 消息通知
            </li>
        </ul>
    </li>
    <li class="green">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <i class="ace-icon fa fa-envelope"></i>
            <span class="badge badge-success">0</span>
        </a>
        <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
            <li class="dropdown-header">
                <i class="ace-icon fa fa-envelope-o"></i> 0 站内信息
            </li>
        </ul>
    </li>
    <!-- #section:basics/navbar.user_menu -->
    <li class="light-blue">
        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
            <img class="nav-user-photo" src="/static/avatars/user.jpg" alt="Jason's Photo">
            <span class="user-info">
						<small>Welcome,</small>
					</span>
            <i class="ace-icon fa fa-caret-down"></i>
        </a>
        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
            <li><a href="/sysuser/repwd"><i class="ace-icon fa fa-user"></i> 修改信息</a></li>
            <li class="divider"></li>
            <li><a href="/login/out"><i class="ace-icon fa fa-power-off"></i> 退出登录</a></li>
        </ul>
    </li>
    <!-- /section:basics/navbar.user_menu -->
</ul>