
<div class="container">
	{{if .list}}
	<div class="rows">
		{{range  $k, $v := .list}}
		<div class="col-sm-4">
			<div class="panel panel-default">
			 	<div class="panel-heading text-center">{{$k}}</div>
			  	<ul class="list-group">
			  		{{range $k1,$v2 := $v}}
				  		{{if lt $k1 10}}
							<li class="list-group-item"><a target="_blank" href="/s?wd={{$v2}}">
								{{$v2}}</a> 
								<!-- {{$k1}} -->
							</li>
						{{end}}
					{{end}}
				</ul>
			</div>
		</div>
		{{end}}
	</div>
	{{end}}
</div>