
<div class="container">
  <div class="jumbotron">
    <h2 class="center text-center">搜书</h2>   
    <form class="ui form main search" action="/s">
      <div class="input-group">
        <input class="form-control" name="wd" autofocus="autofocus" value="" placeholder="搜索网络书籍" type="text">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">搜索</button>
        </span>
      </div>
    </form>

  </div>
</div>

<div class="container">
    <h5 class="center text-center">最新收录</h5>
    <table class="table table-bordered">
      {{if .list}}
        {{range  $k, $v := .list}}
      <tr>
        <td class="text-center"><a href="/s?wd={{$v.Name}}" target="_blank">{{$v.Name}}</td>
        <td class="text-center">{{$v.FromName}}</td>
        <td class="text-center">{{$v.CreateTime}}</td>
      </tr>
        {{end}}
      {{end}}
    </table>
</div>