

<div class="container">
  <div class="jumbotron"> 
    <form class="ui form main search" action="/s">
      <div class="input-group">
        <input class="form-control" name="wd" autofocus="autofocus" value="{{.kw}}" placeholder="搜索网络书籍" type="text">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">搜索</button>
        </span>
      </div>
    </form>

  </div>
</div>



<div class="container">
    <table class="table table-bordered">
      <tr>
        <td>名字</td>
        <td>作者</td>
        <td>最新章节</td>
        <td>来源</td>
        <td>更新时间</td>
      </tr>

      {{if .list}}
        {{range  $k, $v := .list}}
        <tr>
          <td>{{$v.Name}}</td>
          <td>{{$v.Author}}</td>
          <td>{{$v.Author}}</td>
          <td>{{$v.FromName}}</td>
          <td>{{$v.UpdateTime}}</td>
        </tr>
        {{end}}
      {{end}}
    </table>

    <nav aria-label="Page navigation" class="text-center">
  		<ul class="pagination">
		    <li>
		      <a href="#" aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
		    <li><a href="#">1</a></li>
		    <li><a href="#">2</a></li>
		    <li><a href="#">3</a></li>
		    <li><a href="#">4</a></li>
		    <li><a href="#">5</a></li>
		    <li>
		      <a href="#" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
	</nav>
</div>