<script src="/static/js/md5.js"></script>


<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <form class="form-horizontal" method="post" role="form">
            <!-- #section:elements.form -->
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">项目名: </label>
                <div class="col-sm-9">
                    <input name="vars[name]" class="col-xs-8 col-sm-4" type="text" value="{{.data.Name}}" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">网站地址: </label>
                <div class="col-sm-9">
                    <input name="vars[page_index]" class="col-xs-8 col-sm-4" type="text" value="{{.data.PageIndex}}" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">目录页规则: </label>
                <div class="col-sm-5">
                    <textarea class="col-sm-12" rows="3" name="vars[path_rule]">{{.data.PathRule}}</textarea>
                </div>
                <div class="col-sm-1">
                    <div id="reg_path_rule_test" class="btn btn-sm btn-primary">匹配</div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">目录页样本页: </label>
                <div class="col-sm-6">
                    <input class="col-sm-12" class="col-xs-8 col-sm-4" type="text" name="vars[path_page_exp]" value="{{.data.PathPageExp}}" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">小说名规则: </label>
                <div class="col-sm-5">
                    <textarea class="col-sm-12" rows="3" name="vars[name_rule]">{{.data.NameRule}}</textarea>
                </div>
                <div class="col-sm-1">
                    <div id="reg_name_rule_test" class="btn btn-sm btn-primary">匹配</div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">小说分类规则: </label>
                <div class="col-sm-5">
                    <textarea class="col-sm-12"rows="3" name="vars[category_rule]">{{.data.CategoryRule}}</textarea>
                </div>
                <div class="col-sm-1">
                    <div id="reg_category_rule_test" class="btn btn-sm btn-primary">匹配</div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                    小说状态规则: 
                </label>
                <div class="col-sm-5">
                    <textarea class="col-sm-12" rows="3" name="vars[status_rule]">{{.data.StatusRule}}</textarea>
                </div>
                <div class="col-sm-1">
                    <div id="reg_status_rule_test" class="btn btn-sm btn-primary">匹配</div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                     章节首页规则: 
                </label>
                <div class="col-sm-5">
                    <textarea class="col-sm-12" rows="3" name="vars[chapter_path_rule]">{{.data.ChapterPathRule}}</textarea>
                </div>
                <div class="col-sm-1">
                    <div id="reg_chapter_path_rule_test" class="btn btn-sm btn-primary">匹配</div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 章节首页样本页: </label>
                <div class="col-sm-6">
                    <input class="col-sm-12" class="col-xs-8 col-sm-4" type="text" name="vars[chapter_path_exp]" value="{{.data.ChapterPathExp}}" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                    章节列表规则: 
                </label>
                <div class="col-sm-5">
                    <textarea class="col-sm-12" rows="3" name="vars[chapter_list_rule]">{{.data.ChapterListRule}}</textarea>
                </div>
                <div class="col-sm-1">
                    <div id="reg_chapter_list_rule_test" class="btn btn-sm btn-primary">匹配</div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 章节内容样本页: </label>
                <div class="col-sm-6">
                    <input class="col-sm-12" class="col-xs-8 col-sm-4" type="text" name="vars[content_exp]" value="{{.data.ContentExp}}" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                    章节内容规则: 
                </label>
                <div class="col-sm-5">
                    <textarea class="col-sm-12" rows="3" name="vars[content_rule]">{{.data.ContentRule}}</textarea>
                </div>
                <div class="col-sm-1">
                    <div id="reg_content_rule_test" class="btn btn-sm btn-primary">匹配</div>
                </div>
            </div>

            <!-- <div class="space-4"></div> -->
            <input name="id" type="hidden" value="{{.id}}">
            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>提交
                    </button>
                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>重置
                    </button>
                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" type="all_val">
                        <i class="ace-icon fa fa-check bigger-110"></i>全部匹配
                    </button>
                </div>
            </div>

        </form>
    </div><!-- /.col -->
</div>

<script>
jQuery(function($) {
//start

function vefiy_rule(url, rule){
    $.post("/{{adminPath}}/{{$.curController}}/verify", { url: url, rule: rule }, function(data){
        if (data['code'] < 0){
            alert(data['msg']);
        } else {
            if (data['data'][0]){
                var content = ""
                for (j in data['data']) {
                    var t = "";
                    for (i in data['data'][j]) {
                        t += data['data'][j][i] + "\n";
                    }
                    content += t;
                }
                alert(content);
            } else {
                alert("没有匹配到!");
            }
            console.log(data);
        }
    }, "json");
}

//验证目录页面
$('#reg_path_rule_test').click(function(){
    var url = $(".form-group :input[name='vars[page_index]']").val();
    var rule = $(".form-group :input[name='vars[path_rule]']").val();
    vefiy_rule(url,rule);
});

//验证小说名
$('#reg_name_rule_test').click(function(){
    var url = $(".form-group :input[name='vars[path_page_exp]']").val();
    var rule = $(".form-group :input[name='vars[name_rule]']").val();
    vefiy_rule(url,rule);
});

//验证小说分类
$('#reg_category_rule_test').click(function(){
    var url = $(".form-group :input[name='vars[path_page_exp]']").val();
    var rule = $(".form-group :input[name='vars[category_rule]']").val();
    vefiy_rule(url,rule);
});

//验证小说状态
$('#reg_status_rule_test').click(function(){
    var url = $(".form-group :input[name='vars[path_page_exp]']").val();
    var rule = $(".form-group :input[name='vars[status_rule]']").val();
    vefiy_rule(url,rule);
});

//验证章节首页列表
$('#reg_chapter_path_rule_test').click(function(){
    var url = $(".form-group :input[name='vars[path_page_exp]']").val();
    var rule = $(".form-group :input[name='vars[chapter_path_rule]']").val();
    vefiy_rule(url,rule);
});

//验证章节列表
$('#reg_chapter_list_rule_test').click(function(){
    var url = $(".form-group :input[name='vars[chapter_path_exp]']").val();
    var rule = $(".form-group :input[name='vars[chapter_list_rule]']").val();
    vefiy_rule(url,rule);
});

//验证章节内容
$('#reg_content_rule_test').click(function(){
    var url = $(".form-group :input[name='vars[content_exp]']").val();
    var rule = $(".form-group :input[name='vars[content_rule]']").val();
    vefiy_rule(url,rule);
});



//end
})
</script>