<script src="/static/js/md5.js"></script>


<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <form class="form-horizontal" method="post" role="form">
            <!-- #section:elements.form -->
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">项目名: </label>
                <div class="col-sm-9">
                    <input name="vars[name]" class="col-xs-8 col-sm-4" type="text" value="{{.data.Name}}" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">网站地址: </label>
                <div class="col-sm-9">
                    <input name="vars[page_index]" class="col-xs-8 col-sm-4" type="text" value="{{.data.PageIndex}}" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">目录页规则: </label>
                <div class="col-sm-5">
                    <textarea class="col-sm-12" rows="3" name="vars[path_rule]">{{.data.PathRule}}</textarea>
                </div>
                <div class="col-sm-1">
                    <div id="reg_path_rule_test" class="btn btn-sm btn-primary">匹配</div>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">小说名规则: </label>
                <div class="col-sm-5">
                    <textarea class="col-sm-12" rows="3" name="vars[name_rule]">{{.data.NameRule}}</textarea>
                </div>
                <div class="col-sm-1">
                    <div id="item_sign_make" class="btn btn-sm btn-primary">匹配</div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                    小说分类规则: 
                </label>
                <div class="col-sm-5">
                    <textarea class="col-sm-12"rows="3" name="vars[category_rule]">{{.data.CategoryRule}}</textarea>
                </div>
                <div class="col-sm-1">
                    <div id="item_sign_make" class="btn btn-sm btn-primary">匹配</div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                    小说状态规则: 
                </label>
                <div class="col-sm-5">
                    <textarea class="col-sm-12" rows="3" name="vars[status_rule]">{{.data.StatusRule}}</textarea>
                </div>
                <div class="col-sm-1">
                    <div id="item_sign_make" class="btn btn-sm btn-primary">匹配</div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                    章节列表规则: 
                </label>
                <div class="col-sm-5">
                    <textarea class="col-sm-12" rows="3" name="vars[chapter_rule]">{{.data.ChapterRule}}</textarea>
                </div>
                <div class="col-sm-1">
                    <div id="item_sign_make" class="btn btn-sm btn-primary">匹配</div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                    章节内容规则: 
                </label>
                <div class="col-sm-5">
                    <textarea class="col-sm-12" rows="3" name="vars[content_rule]">{{.data.ContentRule}}</textarea>
                </div>
                <div class="col-sm-1">
                    <div id="item_sign_make" class="btn btn-sm btn-primary">匹配</div>
                </div>
            </div>

            <!-- <div class="space-4"></div> -->
            <input name="id" type="hidden" value="{{.id}}">
            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>提交
                    </button>
                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>重置
                    </button>
                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" type="all_val">
                        <i class="ace-icon fa fa-check bigger-110"></i>全部匹配
                    </button>
                </div>
            </div>

        </form>
    </div><!-- /.col -->
</div>

<!-- 添加服务器弹出页 start -->
<div id="add_server_id" class="hide">
    
    <div class="row">
        <div id="add_server_id_list" class="tags" style="border:none;">
            <span class="tag">495590<button type="button" class="close">×</button></span>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div>
            <input id="add_server_seacrch" type="text" name="search_info" placeholder="查询序号或描述">
            <input onclick="query_search();" type="button" name="search" value="查询" class="btn btn-purple btn-sm">
        </div>

        <div class="space-4"></div>
        <div>
            <table class="table table-bordered table-hover" id='add_server_id_tab'>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>IP</th>
                        <th>描述</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>489612</td>
                        <td>裸色风暴眼影盘</td>
                        <td><a href="#"><i class="glyphicon glyphicon-plus bigger-130"></i><a></td>
                    </tr>
                </tbody> 
            </table>
        </div>
    </div>
</div>
<!-- 添加服务器弹出页 end -->


<script>



jQuery(function($) {
//start

//初始化sign
var sign = $('#item_sign').val();
if (sign == ""){
    var t = new Date().getTime();
    var md5_v = hex_md5("" + t);
    $('#item_sign').val(md5_v);
}

//重新生成Sign
$('#reg_path_rule_test').click(function(){
    alert("12312");
});


//end
})
</script>