<div class="container">
  <div class="footer-content text-center" style="padding: 12px;">
    {{webName}} | 页面耗时:{{.pageStartTime|loadtimes}}ms
  </div>
</div>

<div class="footer" style="height: 50px;">
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <div class="container">
        <ul class="nav navbar-nav col-xs-6">
          <li><a data-container="body" data-toggle="tooltip" data-placement="top" title="本站是一个开源小说搜索引擎，提供且仅提供第三方搜索引擎提供的小说检索结果。本站只负责展示搜索结果，展示内容与本站无关。">免责声明</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right col-xs-6">
          <li style="float:right;"><a data-container="body" data-toggle="tooltip" data-placement="top" title="Github地址:https://github.com/midoks/novelsearch">源码</a></li>
        </ul>
    </nav>
</div>


<div class="modal fade" id="msgModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">网站通知</h4>
      </div>
      <div class="modal-body">{{webNotice}}</div>
    </div>
  </div>
</div>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>

<script type="text/javascript">
$(function () {
//start
$('[data-toggle="popover"]').popover()
$('[data-toggle="tooltip"]').tooltip();


function showWebInfo(){
  var msg = $("#msgModal .modal-body").text();
  if ( "" != msg ){
    var is_close = $.cookie('today_close_notice'+getNowFormatDate());
    if (is_close != 1){
        var status = $('#msgModal').css('display');
        if ('block' != status){
          $('#msgModal').modal('show');
        }
    } 
  }
}

$('#msgModal').on('hidden.bs.modal', function (e) {
    $.cookie('today_close_notice'+getNowFormatDate(), 1);
})

setInterval(showWebInfo,500);

function getNowFormatDate() {
    var date = new Date();
    var seperator1 = "-";
    var year = date.getFullYear();
    var month = date.getMonth() + 1;
    var strDate = date.getDate();
    if (month >= 1 && month <= 9) {
        month = "0" + month;
    }
    if (strDate >= 0 && strDate <= 9) {
        strDate = "0" + strDate;
    }
    var currentdate = year + seperator1 + month + seperator1 + strDate;
    return currentdate;
}

//end
});
</script>

</body>
</html>